// *COLOR
$color--bg: #5643fa;
$color--primary-variant: #2c2c6c;
$color--primary: #ffb900;
$color--white: #fff;
$color--light: rgba(255, 255, 255, 0.6);

// *WIDTH
$container-width-lg: 75%;
$container-width-md: 86%;
$container-width-sm: 90%;

// * FONT SIZE
$font-size--default: 1.6rem;

// * TRANSITION
$transition: all 400ms ease;
